<div class="globalFooter">
    <div class="col-xs-4">
        <div class="footer-header">
            Rakesh Kumar Jha
        </div>
        <div>
            <a href="https://www.facebook.com/RakeshJhaSukhsena/" class="fa fa-facebook" target="_blank"></a>
            <a href="https://twitter.com/rkjha" class="fa fa-twitter" target="_blank"></a>
            <a href="https://www.linkedin.com/in/rakeshkumarjha7/" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://www.youtube.com/c/TheYoungindianTalks" class="fa fa-youtube" target="_blank"></a>
            <a href="https://www.instagram.com/rkjockies/" class="fa fa-instagram" target="_blank"></a>
            <!-- <a href="#" class="fa fa-pinterest"></a>
            <a href="#" class="fa fa-snapchat-ghost"></a>
            <a href="#" class="fa fa-skype"></a>
            <a href="#" class="fa fa-android"></a>
            <a href="#" class="fa fa-dribbble"></a>
            <a href="#" class="fa fa-vimeo"></a>
            <a href="#" class="fa fa-tumblr"></a>
            <a href="#" class="fa fa-vine"></a>
            <a href="#" class="fa fa-foursquare"></a>
            <a href="#" class="fa fa-stumbleupon"></a>
            <a href="#" class="fa fa-flickr"></a>
            <a href="#" class="fa fa-yahoo"></a>
            <a href="#" class="fa fa-reddit"></a>
            <a href="#" class="fa fa-rss"></a>
            <a href="#" class="fa fa-google"></a> -->
        </div>
        <!-- <div><a href="https://www.facebook.com/RakeshJhaSukhsena" target="_blank">Facebook Dhamdaha</a></div>
        <div><a>Facebook Banmankhi</a></div> -->
    </div>
    <div class="col-xs-4">
        <div class="footer-header">
            WhatsApp
        </div>
        <div class="whatsApp"><i class="fa fa-whatsapp" aria-hidden="true"></i><a>Plurals Dhamdaha</a></div>
        <div class="whatsApp"><i class="fa fa-whatsapp" aria-hidden="true"></i><a>Plurals Banmankhi</a></div>
    </div>
    <div class="col-xs-4">
        <div class="footer-header">
            Plurals Party
        </div>
        <div class="pushpamPriya">
            Pushpam Priya Choudhary
        </div>
        <div>
            <a href="https://www.facebook.com/pushpampc13" target="_blank" class="fa fa-facebook"></a>
            <a href="https://twitter.com/pushpampc13" class="fa fa-twitter" target="_blank"></a>
            <a href="https://www.linkedin.com/in/pushpampc13" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://www.youtube.com/channel/UCoS4BTSH7pwnEtjFRmODaXw/featured" class="fa fa-youtube" target="_blank"></a>
            <a href="https://www.instagram.com/pushpampc13/" class="fa fa-instagram" target="_blank"></a>
        </div>
    </div>
</div>
